/*new font family*/
@font-face {
    font-family: 'Luizi';
    src: url('../Fonts/OS_Luizi Round-FFC.otf');
}

@font-face {
    font-family: 'Assistant-Regular';
    src: url('../Fonts/Assistant-Regular.otf');
}

@font-face {
    font-family: 'Assistant-SemiBold';
    src: url('../Fonts/Assistant-SemiBold.otf');
}



body {
    /*background: url("../pics/login.jpg");*/
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

#container {
    /*background-color: #14213d;*/
    height: 100%;
    direction: rtl;
}

#logoLogin {
    margin-right: 16%;
}

p {
    color: #14213d;
    font-family: Luizi;
    font-size: 250%;
    margin-top: 5% !important;
    /*right: 0%;*/
    float: right;
}

.form-wrapper {
    max-width: 100%;
    max-height: 100%;
    min-width: 300px;
    padding: 50px 30px 50px 30px;
    margin: 50px auto;
    font-family: Assistant-Regular;
}

.form-group {
    position: relative;
}

    .form-group + .form-group {
        margin-top: 30px;
    }

.form-label {
    position: absolute;
    right: 4%;
    top: 10px;
    /*color: #14213d;*/
    background-color: #fff;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
    transform: translateY(-125%);
    font-size: 0.75em;
}

.input email {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0px;
    border: 0px;
    box-shadow: 0 1px 0 0 #e5e5e5;
    transition: box-shadow 150ms ease-out;
}

#buttonLogin {
    font-family: Assistant-SemiBold;
    background-color: #14213d;
    color: white;
    width: 100%;
}

#dontHavePuppy {
    border: solid;
    padding: 0.5rem;
    margin-right: 6.5rem;
    border-color: #14213d;
    color: #14213d;
    border-radius: 0.3rem;
}

.input email:focus {
    /*box-shadow: 0 2px 0 0 blue;*/
}

.input email.filled {
    /*box-shadow: 0 2px 0 0 lightgreen;*/
}

.input password {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0px;
    border: 0px;
    box-shadow: 0 1px 0 0 #e5e5e5;
    transition: box-shadow 150ms ease-out;
}

    .input password:focus {
        box-shadow: 0 2px 0 0 blue;
    }

    .input password.filled {
        box-shadow: 0 2px 0 0 lightgreen;
    }

#errorMsg {
    color: #F44336;
    display: flex;
    margin-right: 15%;
    font-size: 150%;
    font-family: 'Luizi';
}

#somethingMissing {
    display: flex;
    margin-top: -10%;
}
